body {
  margin: 0px;
  padding: 0px;
}
#top {
  display: flex;
  position: relative; /* 기준점 */
  width: 100%;
  top: 0px;
}

#top-bg {
  display: block;
  width: 100%;
  height: 100%;
  margin-top: -50px;
  margin-bottom: -100px;
}

#top-text {
  position: absolute;
  top: 35%;
  left: 18%;
  scale: 50%;
}

/* Main css */

main {
  background-color: white;
  display: flex;
  justify-content: center;
}

.big-box {
  display: flex;
  background-color: white;
  position: relative;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 200px;
  gap: 40px;
}
.line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.s-box {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  width: 240px;
  height: 180px;
  background-color: white;
  top: 45px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.5s ease;
  cursor: pointer;
}

.s-box:hover {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.body-img {
  display: flex;
  width: 90%;
  position: relative;
  top: 18px;
  justify-content: center;
}
.text-wrap {
  display: flex;
  align-items: flex-start;
  width: 216px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  gap: 5px;
}

.arrow {
  display: flex;
  position: relative;
  left: 0;
  content: "";
  width: 6px;
  height: 6px;
  top: calc((1.5em - 8px) / 2);
  border-style: solid;
  border-width: 2px 2px 0 0;
  border-color: #000;
  transform: rotate(45deg);
}

.text {
  display: flex;
  bottom: 15px;
  left: 20px;
  font-size: 10pt;
  width: 95%;
}

footer {
  width: 100%;
  margin-bottom: -200px;
}
